---
services:
  redis:
    image: "redis/redis-stack:latest"
    ports:
    - "6379:6379"
    - "8001:8001"
  postgres:
    image: "postgres:15-alpine"
    ports:
    - "5432:5432"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "postgres"
    volumes:
    - "./create-all-databases.sql:/docker-entrypoint-initdb.d/create-all-databases.sql"
  zookeeper:
    image: "confluentinc/cp-zookeeper:latest"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      KAFKA_HEAP_OPTS: "-Xmx512M -Xms512M"
    ports:
    - "22181:2181"
  kafka:
    image: "confluentinc/cp-kafka:latest"
    depends_on:
    - "zookeeper"
    ports:
    - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092"
      KAFKA_ADVERTISED_HOST_NAME: "127.0.0.1"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_HEAP_OPTS: "-Xmx512M -Xms512M"
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: false
  catalog-migrator:
    image: "catalog-migration:jvm-latest"
    depends_on:
      postgres:
        condition: "service_started"
    command: "java -Xmx32M -Xms32M -Djava.net.preferIPv4Stack=true -XX:+UnlockExperimentalVMOptions\
      \ -XX:+UseEpsilonGC -jar app.jar postgres 5432 postgres postgres catalog"
  payment-migrator:
    image: "payment-migration:jvm-latest"
    depends_on:
      postgres:
        condition: "service_started"
    command: "java -Xmx32M -Xms32M -Djava.net.preferIPv4Stack=true -XX:+UnlockExperimentalVMOptions\
      \ -XX:+UseEpsilonGC -jar app.jar postgres 5432 postgres postgres payment"
