---
services:
  iam:
    healthcheck:
      test:
      - "CMD"
      - "curl"
      - "-f"
      - "http://localhost:8080/health"
    image: "iam:jvm-latest"
    ports:
    - "8080:8080"
    volumes:
    - "./config/iam-config.json:/config.json"
    command:
    - "run"
    - "-conf"
    - "/config.json"
    - "-XX:+UseZGC"
    - "-XX:+ZGenerational"
    - "-Xlog:gc*"
    - "-Xmx32M"
    - "-Xms32M"
    - "-Djava.net.preferIPv4Stack=true"
    depends_on:
      redis:
        condition: "service_healthy"
  iam-rpc:
    image: "iam-rpc:jvm-latest"
    volumes:
    - "./config/iam-rpc-config.json:/config.json"
    command:
    - "run"
    - "-conf"
    - "/config.json"
    - "-XX:+UseZGC"
    - "-XX:+ZGenerational"
    - "-Xlog:gc*"
    - "-Xmx32M"
    - "-Xms32M"
    - "-Djava.net.preferIPv4Stack=true"
  catalog:
    image: "catalog:jvm-latest"
    ports:
    - "8081:8080"
    volumes:
    - "./config/catalog-config.json:/config.json"
    command:
    - "run"
    - "-conf"
    - "/config.json"
    - "-XX:+UseZGC"
    - "-XX:+ZGenerational"
    - "-Xlog:gc*"
    - "-Xmx32M"
    - "-Xms32M"
    - "-Djava.net.preferIPv4Stack=true"
    depends_on:
      redis:
        condition: "service_healthy"
      postgres:
        condition: "service_healthy"
      catalog-migrator:
        condition: "service_completed_successfully"
  payment:
    image: "payment:jvm-latest"
    ports:
    - "8082:8080"
    volumes:
    - "./config/payment-config.json:/config.json"
    command:
    - "run"
    - "-conf"
    - "/config.json"
    - "-XX:+UseZGC"
    - "-XX:+ZGenerational"
    - "-Xlog:gc*"
    - "-Xmx32M"
    - "-Xms32M"
    - "-Djava.net.preferIPv4Stack=true"
    depends_on:
      redis:
        condition: "service_healthy"
      postgres:
        condition: "service_healthy"
      payment-migrator:
        condition: "service_completed_successfully"
