name: catalog-app

replicaCount: 1

image:
  repository: ghcr.io/benslabbert/vertx-dagger-app/catalog
  tag: 0.0.0-snapshot
  pullPolicy: Always

probes:
  startupProbe:
    httpGet:
    path: /health/startup
    port: 8080
    initialDelaySeconds: 5
    periodSeconds: 5
  livenessProbe:
    httpGet:
    path: /health/liveness
    port: 8080
    initialDelaySeconds: 5
    periodSeconds: 5
  readinessProbe:
    httpGet:
    path: /health/readiness
    port: 8080
    initialDelaySeconds: 5
    periodSeconds: 5

service:
  type: ClusterIP
  port: 8080

db:
  host: db
  port: 5432
  user: catalog
  password: catalog
  database: catalog

redis:
  host: redis
  port: 6379
  database: 0
