---
name: "Java + Maven + Docker"
"on":
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "main"
jobs:
  check_date:
    runs-on: "ubuntu-latest"
    name: "Check latest commit"
    outputs:
      should_run: "${{ steps.should_run.outputs.should_run }}"
    steps:
    - uses: "actions/checkout@v4"
    - name: "print latest_commit"
      run: "echo ${{ github.sha }}"
    - id: "should_run"
      continue-on-error: true
      name: "check latest commit is less than a day"
      if: "${{ github.event_name == 'schedule' }}"
      run: "test -z $(git rev-list  --after=\"24 hours\"  ${{ github.sha }}) && echo\
        \ \"::set-output name=should_run::false\""
  build-backend-native-graalvm:
    runs-on: "ubuntu-latest"
    steps:
    - uses: "actions/checkout@v4"
    - uses: "graalvm/setup-graalvm@v1"
      with:
        java-version: "17"
        distribution: "graalvm-community"
        native-image-musl: "true"
        cache: "maven"
    - run: "mvn install -DskipTests=true -Ddocker.skip=true -Pnative -DtestImageTag=native"
    - run: "curl -L https://github.com/upx/upx/releases/download/v4.0.2/upx-4.0.2-amd64_linux.tar.xz\
        \ -o upx-4.0.2-amd64_linux.tar.xz && tar -xf upx-4.0.2-amd64_linux.tar.xz\
        \ && mv upx-4.0.2-amd64_linux /tmp/upx && /tmp/upx/upx --version"
    - run: "/tmp/upx/upx -q -o iam.upx iam-parent/iam-app/target/iam"
    - uses: "actions/upload-artifact@v3"
      if: "always()"
      with:
        name: "graalvm iam binary"
        path: "iam-parent/iam-app/target/iam"
        retention-days: 30
    - uses: "actions/upload-artifact@v3"
      if: "always()"
      with:
        name: "graalvm iam binary upx"
        path: "iam.upx"
        retention-days: 30
  build-backend-native-docker:
    needs: "check_date"
    if: "${{ needs.check_date.outputs.should_run != 'false' }}"
    runs-on: "ubuntu-latest"
    steps:
    - uses: "actions/checkout@v4"
    - name: "Set up JDK 17"
      uses: "actions/setup-java@v3"
      with:
        distribution: "zulu"
        java-version: "17"
        java-package: "jdk"
        cache: "maven"
    - run: "curl -L https://github.com/apache/maven-mvnd/releases/download/1.0-m7/maven-mvnd-1.0-m7-m39-linux-amd64.zip\
        \ -o maven-mvnd-1.0-m7-m39-linux-amd64.zip && unzip maven-mvnd-1.0-m7-m39-linux-amd64.zip\
        \ && mv maven-mvnd-1.0-m7-m39-linux-amd64 /tmp/mvnd"
    - run: "make M='/tmp/mvnd/bin/mvnd' package"
    - run: "make M='/tmp/mvnd/bin/mvnd' native"
    - run: "make M='/tmp/mvnd/bin/mvnd' dockerSave"
    - uses: "actions/upload-artifact@v3"
      if: "always()"
      with:
        name: "upx-native-binaries"
        path: "bin/"
        retention-days: 30
  build-backend-jvm:
    runs-on: "ubuntu-latest"
    steps:
    - uses: "actions/checkout@v4"
    - name: "Set up JDK 17"
      uses: "actions/setup-java@v3"
      with:
        distribution: "zulu"
        java-version: "17"
        java-package: "jdk"
        cache: "maven"
    - run: "curl -L https://github.com/apache/maven-mvnd/releases/download/1.0-m7/maven-mvnd-1.0-m7-m39-linux-amd64.zip\
        \ -o maven-mvnd-1.0-m7-m39-linux-amd64.zip && unzip maven-mvnd-1.0-m7-m39-linux-amd64.zip\
        \ && mv maven-mvnd-1.0-m7-m39-linux-amd64 /tmp/mvnd"
    - run: "make M='/tmp/mvnd/bin/mvnd' fmtCheck"
    - run: "make M=/tmp/mvnd/bin/mvnd"
  build-frontend:
    runs-on: "ubuntu-latest"
    steps:
    - uses: "actions/checkout@v4"
    - name: "Setup node"
      uses: "actions/setup-node@v3"
      with:
        node-version: 20
        cache: "yarn"
        cache-dependency-path: "frontend/app/yarn.lock"
    - run: "make -C frontend/app"
    - run: "make lint -C frontend/app"
    - run: "make test -C frontend/app"
    - run: "make buildDev -C frontend/app"
    - run: "make buildDocker -C frontend/app"
    - run: "make dockerSave -C frontend/app"
    - uses: "actions/upload-artifact@v3"
      if: "always()"
      with:
        name: "ui-build"
        path: "frontend/app/build/"
        retention-days: 30
    - uses: "actions/upload-artifact@v3"
      if: "always()"
      with:
        name: "playwright-report"
        path: "frontend/app/playwright-report/"
        retention-days: 30
    - uses: "actions/upload-artifact@v3"
      if: "always()"
      with:
        name: "ui-docker"
        path: "frontend/app/iam-sveltekit_latest.tar.gz"
        retention-days: 30
