---
name: "Java + Maven + Docker"
"on":
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "main"
jobs:
  build-backend-jvm:
    runs-on: "ubuntu-latest"
    env:
      GH_TOKEN: "${{ secrets.GH_TOKEN }}"
    steps:
    - uses: "actions/checkout@v4"
    - name: "Set up JDK 22"
      uses: "actions/setup-java@v4"
      with:
        distribution: "zulu"
        java-version: "22"
        java-package: "jdk"
        cache: "maven"
    - name: "Setup node"
      uses: "actions/setup-node@v4"
      with:
        node-version: 20
        cache: "yarn"
        cache-dependency-path: "jte-htmx-parent/frontend/app/yarn.lock"
    - run: "npm set \"//npm.pkg.github.com/:_authToken=$GH_TOKEN\""
    - run: "node --version"
    - run: "npm --version"
    - run: "mvn --version"
    - run: "yarn --version"
    - run: "corepack enable"
    - run: "corepack prepare yarn@stable --activate"
    - run: "yarn set version stable"
    - run: "yarn --version"
    - run: "curl -L https://github.com/apache/maven-mvnd/releases/download/1.0-m8/maven-mvnd-1.0-m8-m39-linux-amd64.zip\
        \ -o maven-mvnd-1.0-m8-m39-linux-amd64.zip && unzip maven-mvnd-1.0-m8-m39-linux-amd64.zip\
        \ && mv maven-mvnd-1.0-m8-m39-linux-amd64 /tmp/mvnd"
    - run: "make M='/tmp/mvnd/bin/mvnd -s settings.xml' fmtCheck"
    - run: "make M='/tmp/mvnd/bin/mvnd -s settings.xml'"
    - run: "echo $GH_TOKEN | docker login ghcr.io -u USERNAME --password-stdin"
    - run: "make M='/tmp/mvnd/bin/mvnd -s settings.xml -Pdocker-push' validate"
  build-frontend:
    runs-on: "ubuntu-latest"
    env:
      GH_TOKEN: "${{ secrets.GH_TOKEN }}"
    steps:
    - uses: "actions/checkout@v4"
    - name: "Setup node"
      uses: "actions/setup-node@v4"
      with:
        node-version: 20
        cache: "yarn"
        cache-dependency-path: "frontend/app/yarn.lock"
    - run: "npm set \"//npm.pkg.github.com/:_authToken=$GH_TOKEN\""
    - run: "node --version"
    - run: "npm --version"
    - run: "mvn --version"
    - run: "yarn --version"
    - run: "corepack enable"
    - run: "corepack prepare yarn@stable --activate"
    - run: "yarn set version stable"
    - run: "yarn --version"
    - run: "make -C frontend/app"
    - run: "make test -C frontend/app"
    - run: "make buildDev -C frontend/app"
    - run: "make buildDocker -C frontend/app"
    - run: "make dockerSave -C frontend/app"
    - uses: "actions/upload-artifact@v4"
      if: "always()"
      with:
        name: "ui-build"
        path: "frontend/app/build/"
        retention-days: 30
    - uses: "actions/upload-artifact@v4"
      if: "always()"
      with:
        name: "playwright-report"
        path: "frontend/app/playwright-report/"
        retention-days: 30
    - uses: "actions/upload-artifact@v4"
      if: "always()"
      with:
        name: "ui-docker"
        path: "frontend/app/app-sveltekit_latest.tar.gz"
        retention-days: 30
  build-htmx-frontend:
    runs-on: "ubuntu-latest"
    env:
      GH_TOKEN: "${{ secrets.GH_TOKEN }}"
    steps:
    - uses: "actions/checkout@v4"
    - name: "Setup node"
      uses: "actions/setup-node@v4"
      with:
        node-version: 20
        cache: "yarn"
        cache-dependency-path: "jte-htmx-parent/frontend/app/yarn.lock"
    - run: "npm set \"//npm.pkg.github.com/:_authToken=$GH_TOKEN\""
    - run: "node --version"
    - run: "npm --version"
    - run: "mvn --version"
    - run: "yarn --version"
    - run: "corepack enable"
    - run: "corepack prepare yarn@stable --activate"
    - run: "yarn set version stable"
    - run: "yarn --version"
    - run: "make -C jte-htmx-parent/frontend/app"
    - run: "make lint -C jte-htmx-parent/frontend/app"
    - run: "make test -C jte-htmx-parent/frontend/app"
    - run: "make buildDev -C jte-htmx-parent/frontend/app"
    - uses: "actions/upload-artifact@v4"
      if: "always()"
      with:
        name: "ui-build-jte-htmx-parent"
        path: "jte-htmx-parent/frontend/app/build/"
        retention-days: 30
    - uses: "actions/upload-artifact@v4"
      if: "always()"
      with:
        name: "playwright-report-jte-htmx-parent"
        path: "jte-htmx-parent/frontend/app/playwright-report/"
        retention-days: 30
    - uses: "actions/upload-artifact@v4"
      if: "always()"
      with:
        name: "ui-docker-jte-htmx-parent"
        path: "jte-htmx-parent/frontend/app/app-sveltekit_latest.tar.gz"
        retention-days: 30
