---
name: "Java + Maven + Docker"
"on":
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "main"
jobs:
  build-backend:
    runs-on: "ubuntu-latest"
    steps:
    - uses: "actions/checkout@v3"
    - name: "Set up JDK 17"
      uses: "actions/setup-java@v3"
      with:
        java-version: "17"
        distribution: "zulu"
    - run: "curl -L https://github.com/apache/maven-mvnd/releases/download/1.0-m7/maven-mvnd-1.0-m7-m39-linux-amd64.zip\
        \ -o maven-mvnd-1.0-m7-m39-linux-amd64.zip && unzip maven-mvnd-1.0-m7-m39-linux-amd64.zip\
        \ && mv maven-mvnd-1.0-m7-m39-linux-amd64 .mvnd"
    - run: "ls -la .mvnd"
    - run: "ls -la ~/.mvnd"
    - run: "make M='~/.mvnd/bin/mvnd'"
    - run: "make M='~/.mvnd/bin/mvnd' native"
    - run: "make M='~/.mvnd/bin/mvnd' dockerSave"
    - uses: "actions/upload-artifact@v3"
      if: "always()"
      with:
        name: "docker-iam-native"
        path: "iam-native_latest.tar.gz"
        retention-days: 30
  build-frontend:
    runs-on: "ubuntu-latest"
    steps:
    - uses: "actions/checkout@v3"
    - name: "Setup node"
      uses: "actions/setup-node@v3"
      with:
        node-version: 20
    - run: "make -C frontend/app"
    - run: "make lint -C frontend/app"
    - run: "make test -C frontend/app"
    - run: "make buildDev -C frontend/app"
    - run: "make buildDocker -C frontend/app"
    - run: "make dockerSave -C frontend/app"
    - uses: "actions/upload-artifact@v3"
      if: "always()"
      with:
        name: "ui-build"
        path: "frontend/app/build/"
        retention-days: 30
    - uses: "actions/upload-artifact@v3"
      if: "always()"
      with:
        name: "playwright-report"
        path: "frontend/app/playwright-report/"
        retention-days: 30
    - uses: "actions/upload-artifact@v3"
      if: "always()"
      with:
        name: "ui-docker"
        path: "frontend/app/iam-sveltekit_latest.tar.gz"
        retention-days: 30
