---
name: "Scheduled Java + Maven + Docker"
"on":
  schedule:
  - cron: "0 0 * * *"
jobs:
  build-backend-native-docker:
    runs-on: "ubuntu-latest"
    steps:
    - name: "Check if schedule"
      if: "${{ github.event_name != 'schedule' }}"
      run: "echo 'only runs on schedule'"
    - uses: "actions/checkout@v4"
    - name: "Set up JDK 21"
      uses: "actions/setup-java@v4"
      with:
        distribution: "zulu"
        java-version: "21"
        java-package: "jdk"
        cache: "maven"
    - run: "curl -L https://github.com/apache/maven-mvnd/releases/download/1.0-m8/maven-mvnd-1.0-m8-m40-linux-amd64.zip\
        \ -o maven-mvnd-1.0-m8-m40-linux-amd64.zip && unzip maven-mvnd-1.0-m8-m40-linux-amd64.zip\
        \ && mv maven-mvnd-1.0-m8-m40-linux-amd64 /tmp/mvnd"
    - run: "make M='/tmp/mvnd/bin/mvnd -DskipTests=true -Djava.util.logging.config.file=$(pwd)/logging.properties\
        \ --fail-at-end' package"
    - run: "make M='/tmp/mvnd/bin/mvnd' native"
    - run: "make M='/tmp/mvnd/bin/mvnd' dockerSave"
    - uses: "actions/upload-artifact@v3"
      if: "always()"
      with:
        name: "upx-native-binaries"
        path: "bin/"
        retention-days: 30
