---
name: "Scheduled Java + Maven + Docker"
"on":
  schedule:
  - cron: "0 0 * * *"
jobs:
  build-backend-native-docker:
    runs-on: "ubuntu-latest"
    env:
      GH_TOKEN: "${{ secrets.GH_TOKEN }}"
    steps:
    - name: "Check if schedule"
      if: "${{ github.event_name != 'schedule' }}"
      run: "echo 'only runs on schedule'"
    - uses: "actions/checkout@v4"
    - name: "Set up JDK 21"
      uses: "actions/setup-java@v4"
      with:
        distribution: "zulu"
        java-version: "21"
        java-package: "jdk"
        cache: "maven"
    - run: "make 'M=mvn -s settings.xml' package"
    - run: "make 'M=mvn -s settings.xml' native"
